## base.html
## ------------网页抬头的信息--------------------
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=low-dpi" />
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/sh.js"></script>
<title>睡神</title>
<link href="/static/css/sh.css" rel="stylesheet" type="text/css" />
</head>
<body>
<%block name="nav"/>
## ------------主页的内容--------------------
<%block name="main"/>
## ------------页脚--------------------
	<!--FOOTER -->
<footer>@2013 Sleep Hypnos, Produced by DiDi and KK.</footer>
<!--/FOOTER -->
</body>
</html>