## -----diary---------------
<%inherit file="base.html"/>
## ----------------------------
<%block name="nav">
<%include file="nav.html"/>
</%block> 
## ----------------------------
<%block name="main">
<div class="container">
  <div class="diaryContainer">
  <div id="diaryContainer1"><div id="diaryContainer2"><div class="diary" id="diary1">
    <h2>六月四日</h2>
    <h3>19:06:58</h3>
    <p id="p1">这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很很长。这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很很长。这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很很长。这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很很长。这是一篇很长很长的日记，它很长很长，很这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很很长。这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长，很很长。这是一篇很长很长的日记，它很长很长，很这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长。</p>
  </div></div></div></div>
  <div class="diaryMain">
    <div id="openTimeAccordion">打开我的时间手风琴</div>
    <ul id="timeAccordion">
      <li><a href="#">2013年</a></li>
      <ul>
        <li><a href="#">五月</a></li>
        <li><a href="#">四月</a></li>
        <li><a href="#">三月</a></li>
        <li><a href="#">二月</a></li>
        <li><a href="#">一月</a></li>
      </ul>
      <li><a href="#">2012年</a></li>
      <ul>
        <li><a href="#">十二月</a></li>
        <li><a href="#">十一月</a></li>
        <li><a href="#">十月</a></li>
        <li><a href="#">九月</a></li>
        <li><a href="#">八月</a></li>
        <li><a href="#">七月</a></li>
        <li><a href="#">六月</a></li>
        <li><a href="#">五月</a></li>
        <li><a href="#">四月</a></li>
        <li><a href="#">三月</a></li>
        <li><a href="#">二月</a></li>
        <li><a href="#">一月</a></li>
      </ul>
      <li><a href="#">2011年</a></li>
      <ul>
        <li><a href="#">十二月</a></li>
        <li><a href="#">十一月</a></li>
        <li><a href="#">十月</a></li>
        <li><a href="#">九月</a></li>
        <li><a href="#">八月</a></li>
        <li><a href="#">七月</a></li>
        <li><a href="#">六月</a></li>
        <li><a href="#">五月</a></li>
        <li><a href="#">四月</a></li>
        <li><a href="#">三月</a></li>
        <li><a href="#">二月</a></li>
        <li><a href="#">一月</a></li>
      </ul>
    </ul>
    <div class="diaryField">
      <div class="chunk">
        <div class="diaryPreview" id="diaryPreview1">
          <div class="star"></div>
          <h2>六月四日</h2>
          <h3>19:06:58</h3>
          <p>这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。</p>
        </div>
      </div>
      <div class="chunk">
        <div class="diaryPreview">
          <div class="star"></div>
          <h2>六月三日</h2>
          <h3>19:06:58</h3>
          <p>这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。</p>
        </div>
      </div>
      <div class="chunk">
        <div class="diaryPreview">
          <div class="star"></div>
          <h2>六月二日</h2>
          <h3>19:06:58</h3>
          <p>这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。</p>
        </div>
      </div>
      <div class="chunk">
        <div class="diaryPreview">
          <div class="star"></div>
          <h2>六月一日</h2>
          <h3>19:06:58</h3>
          <p>这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。</p>
        </div>
      </div>
      <div class="chunk">
        <div class="diaryPreview">
          <div class="star"></div>
          <h2>五月三十一日</h2>
          <h3>19:06:58</h3>
          <p>这是一篇很长很长的日记，它很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。很长很长，很长很长。</p>
        </div>
      </div>
    </div>
  </div>
</div>
</%block> 