## home.html
<%inherit file="base.html"/>
<%block name="main">
<div class="login">
	<h2>帐号登录</h2>
    <div class="loginCenter">
	
	%if not_matched_prompt==True:
	<div class="registerPrompt loginPrompt">帐号和密码不匹配，请重新填写。</div>
	%endif

    <!--登录信息填写 -->
	<form id="form_login" action="/log" method="POST">
		<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
        <input name="account" id="inputAccount" type="text" placeholder="帐号" />
	    <input name="password" id="inputPassword" type="password" placeholder="密码" />
	    <input name="login" id="login" class="btnLogin" type="submit" value="登录"/>
	</form>
    </div>
    <ul>
        <li><a href="/reg">注册帐号</a></li>
    </ul>
</div>
</%block>
