<!--nav -->
<nav class="navMedium">
	<div class="navContainer">
	  <div class="navLogo"><h1>睡神</h1></div>
      <div class="navBtn" id="navBtn">首页</div>
	  <ul class="navUl" id="navUl">
	    <li class="navLi" id="navHome"><a href="#">主页</a></li>
			<li class="navLi"><a href="#">特别关注</a></li>
			<li class="navLi"><a href="#">我的好友</a></li>
			<li class="navLi" id="navLiMe"><a href="#">我的记录</a>
            	<ul id="navDropbox">
      				<li class="navDropboxLi"><a href="#">我的睡眠记录</a></li>
        			<li class="navDropboxLi"><a href="#">我的日记</a></li>
        			<li class="navDropboxLi"><a href="#">设置</a></li>
        			<li class="navDropboxLi"><a href="#">退出</a></li>
      			</ul>
            </li>
	  </ul>
    </div> 
</nav>
<!--/nav -->