<%inherit file="base.html"/>
<%block name="main">
<div class="login register">
	<h2>帐号注册</h2>
    <div class="loginCenter registerCenter">
	<form id="form_reg" action="/reg" method="POST">
		<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
        <!--注册信息填写 -->
    	<input name="account" id="registerAccount" type="text" placeholder="用户名" />

		%if username_taken_prompt==True:
        <div class="registerPrompt" id="registerPrompt1">此用户名已被占用。</div>
		%endif

		<input name="password" id="registerPassword" type="password" placeholder="密码" />
        <input name="repassword" id="registerRePassword" type="password" placeholder="核对密码" />

		%if password_not_matched_prompt==True:
        <div class="registerPrompt" id="registerPrompt3">密码不匹配:(</div>
		%endif

		<div class="registerPrompt" id="CodePicture"><img src="/captcha" width="218" height="48" /></div>
        <input name="captcha" id="registerVerificationCode" type="text" placeholder="验证码" />

		%if captcha_not_matched_prompt==True:
        <div class="registerPrompt" id="registerPrompt5">验证码不正确:(</div>
		%endif

        <div class="registerInfo registerPrompt">请仔阅读<a href="#">服务协议</a>以及<a href="#">隐私和Cookie声明</a>。提交表示已接受条款。</div>
        <input name="register" id="register" class="btnLogin" type="submit" value="提交"/>
	</form>
    </div>
</div>
</%block>
