@charset "utf-8";
/* CSS Document */
body {
	zoom:1 !important ;
	margin:0px;
	padding:0px;
	background-color:#9CF;
	font-family:"微软雅黑", "宋体";
}
div {
	display:block;
}
a:link {
	text-decoration:none;
	color:#999;
}
a:hover {
	text-decoration:none;
	color:#999;
}
a:visited {
	text-decoration:none;
	color:#999;
}
a:active {
	text-decoration:none;
	color:#999;
}
.container {
	margin-top:40px;
}