@charset "utf-8";
/* CSS Document */
footer {
	z-index:-1;
	color:#366;
	position:fixed;
	bottom:18px;
	left:50%;
	margin-left:-200px;
	font-size:12px;
	text-align:center;
	width:400px;
}
