@charset "utf-8";
/* CSS Document */
#timeAccordion {
	position:fixed;
	left:32px;
	bottom:10%;
	text-shadow:1px 1px 1px #069;
	color:#FFF;
	font-family:"微软雅黑", "黑体";
	text-align:right;
	padding: 0 0 0 0;
	width: 120px;
}
#timeAccordion li{
	font-size:22px;
	display: block;
	font-weight:bold;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
}
#timeAccordion ul {
	padding: 0 0 0 0;
	display: none;
}
#timeAccordion ul li{
	font-size:17px;
	font-weight:bold;
	cursor: auto;
	padding: 0 0 0 7px;
}
#timeAccordion a:link {
	text-decoration: none;
	color:#FFF;
}
#timeAccordion a:hover {
	text-decoration: none;
	color:#FFF;
}
#timeAccordion a:visited {
	text-decoration: none;
	color:#FFF;
}
#timeAccordion a:active {
	text-decoration: none;
	color:#FFF;
}

